# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# attachfile2
*.atfi

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc
*.loc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplot
*.gnuplot
*.table

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hypdoc
*.hd

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary

# latexindent will create succesive backup files by default
#*.bak*

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.data.minted
*.pyg

# morewrites
*.mw

# newpax
*.newpax

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# spelling
*.spell.bad
*.spell.txt

# svg
svg-inkscape/

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# titletoc
*.ptc

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# latexindent.pl
*.bak[0-9]*

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib

demo/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
code/SimpleClient
.vscode/settings.json
code/demo/docker-compose.yml
code/demo/README.md
code/demo/start.sh
code/demo/question_1/results/benchbase_30_min_pg_stat_statements.csv
code/demo/question_1/results/LENOVO_1PROC_8GB_SF2_benchbase.xlsx
code/demo/question_1/results/CPU&disk_intensive/CPU&disk_intensive_iostat_1.txt
code/demo/question_1/results/CPU&disk_intensive/CPU&disk_intensive_iostat_2.txt
code/demo/question_1/results/CPU&disk_intensive/CPU&disk_intensive_pg_stat.csv
code/demo/question_1/results/CPU&disk_intensive/CPU&disk_intensive.summary.json
code/demo/question_1/results/CPU&disk_intensive/CPU&disk_service_demand.xlsx
code/demo/question_1/results/CPU_intensive/CPU_intensive_pg_stat.csv
code/demo/question_1/results/CPU_intensive/CPU_intensive_Q13.summary.json
code/demo/question_1/results/CPU_intensive/cpu_intensive_service_demands_utilization.xlsx
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.config.xml
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.metrics.json
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.params.json
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.raw.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q1.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q2.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q3.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q4.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q5.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q6.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q7.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q8.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q9.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q10.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q11.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q12.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q13.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q14.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q15.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q16.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q17.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q18.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q19.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q20.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q21.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.results.Q22.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.samples.csv
code/demo/question_1/results/benchbase_results_30mins/tpch_2024-07-07_15-15-09.summary.json
code/demo/question_1/results/disk_intensive/disk_intensive_pg_stat.csv
code/demo/question_1/results/disk_intensive/disk_intensive_Q7.summary.json
code/demo/question_1/results/disk_intensive/disk_intensive_service_demands_utilizations.xlsx
code/demo/question_2/models/question_2_analytic_model.jmva
code/demo/question_3/results/cpu_intensive/cpu_intensive_parallel_2_pg_stat.csv
code/demo/question_3/results/cpu_intensive/cpu_intensive_parallel_2.summary.json
code/demo/question_3/results/cpu_intensive/cpu_intensive_parallel_2.xlsx
code/demo/question_3/results/disk_intensive/disk_intensive_parallel_2_pg_stat.csv
code/demo/question_3/results/disk_intensive/disk_intensive_parallel_2.summary.json
code/demo/question_3/results/disk_intensive/disk_intensive_parallel_2.xlsx
code/demo/question_4/models/question_4_sim_2cpu_cpu_intensive.jsimg
code/demo/question_4/models/question_4_sim_2cpu_disk_intensive.jsimg
code/demo/question_4/models/question_4_sim_raid_5.jsimg
code/demo/question_4/results/cpu_intensive/parallel_1/cpu_intensive_2.csv
code/demo/question_4/results/cpu_intensive/parallel_1/cpu_intensive_2.summary.json
code/demo/question_4/results/cpu_intensive/parallel_2/cpu_intensive_2_parallel_2.csv
code/demo/question_4/results/cpu_intensive/parallel_2/cpu_intensive_2_parallel_2.summary.json
code/demo/question_4/results/cpu_intensive/parallel_3/cpu_intensive_2_parallel_3.csv
code/demo/question_4/results/cpu_intensive/parallel_3/cpu_intensive_2_parallel_3.summary.json
code/demo/question_4/results/cpu_intensive/parallel_4/cpu_intensive_2_parallel_4.csv
code/demo/question_4/results/cpu_intensive/parallel_4/cpu_intensive_2_parallel_4.summary.json
code/demo/question_4/results/cpu_intensive/parallel_5/cpu_intensive_2_parallel_5.csv
code/demo/question_4/results/cpu_intensive/parallel_5/cpu_intensive_2_parallel_5.summary.json
code/demo/question_4/results/disk_intensive/parallel_1/disk_intensive_2_parallel_1.csv
code/demo/question_4/results/disk_intensive/parallel_1/disk_intensive_2_parallel_1.summary.json
code/demo/question_4/results/disk_intensive/parallel_2/disk_intensive_2_parallel_2.csv
code/demo/question_4/results/disk_intensive/parallel_2/disk_intensive_2_parallel_2.summary.json
code/demo/question_4/results/disk_intensive/parallel_3/disk_intensive_2_parallel_3.csv
code/demo/question_4/results/disk_intensive/parallel_3/disk_intensive_2_parallel_3.summary.json
code/demo/question_4/results/disk_intensive/parallel_4/disk_intensive_2_parallel_4.csv
code/demo/question_4/results/disk_intensive/parallel_4/disk_intensive_2_parallel_4.summary.json
code/demo/question_4/results/disk_intensive/parallel_5/disk_intensive_2_parallel_5.csv
code/demo/question_4/results/disk_intensive/parallel_5/disk_intensive_2_parallel_5.summary.json
code/demo/question_5/models/question_5_first_model.jmva
code/demo/question_5/models/question_5_sim_raid_13_disks.jsimg
code/demo/question_5/models/question_5_sim.jsimg
code/demo/samples/sample_tpch_config_30_min.xml
code/demo/samples/tpch_Q7_disk_parallel_2.xml
code/demo/samples/tpch_Q7_disk_parallel_3.xml
code/demo/samples/tpch_Q7_disk_parallel_4.xml
code/demo/samples/tpch_Q7_disk_parallel_5.xml
code/demo/samples/tpch_Q7_disk.xml
code/demo/samples/tpch_Q16_CPU_parallel_2.xml
code/demo/samples/tpch_Q16_CPU_parallel_3.xml
code/demo/samples/tpch_Q16_CPU_parallel_4.xml
code/demo/samples/tpch_Q16_CPU_parallel_5.xml
code/demo/samples/tpch_Q16_CPU.xml
code/demo/samples/tpch_Q16_Q7.xml
code/demo/scripts/benchbase/prep-benchbase.sh
code/demo/scripts/init-db/pg-stat-statements.sql
code/demo/scripts/init-db/postgres-config.sh
code/demo/scripts/python/mean_iostat.py
code/JMT/.installationinformation
code/JMT/jmt.ico
code/JMT/JMT.jar
code/JMT/jmt.png
code/JMT/jmtMem.ico
code/JMT/jmtMem.png
code/JMT/License.txt
code/JMT/manual.ico
code/JMT/manual.png
code/JMT/ReadMe.html
code/JMT/uninst.ico
code/JMT/uninst.png
code/JMT/WebsiteLogo.png
code/JMT/Uninstaller/uninstaller.jar
code/JMT/license/LICENSE_commons-collections.txt
code/JMT/license/LICENSE_FreeHEP.txt
code/JMT/license/LICENSE_jakarta-oro.txt
code/JMT/license/LICENSE_jfep.txt
code/JMT/license/LICENSE_jgoodies.txt
code/JMT/license/LICENSE_jgraph.txt
code/JMT/license/LICENSE_JMT.txt
code/JMT/license/LICENSE_log4j.txt
code/JMT/license/LICENSE_PDFRenderer.txt
code/JMT/license/LICENSE_ptolemy_II.txt
code/JMT/license/LICENSE_xerces.txt
code/JMT/manuals/manual.pdf
.gitignore
code/progetto-3/JMT-singlejar-1.3.1-BETA1.jar
